body {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 50%;
    border: solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.info-container {
    width: 600px;
    height: 600px;
    border: solid black;
}

.columns {
    display: flex;
}

.column-one {
    margin-right: 10px;
}