body {
    display: flex;
    justify-content: center;
}


.info-container {
    width: 600px;
    height: 600px;
    border: solid black;
}

.columns {
    display: flex;
}

.column-one {
    margin-right: 10px;
}